.why-choose-us-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.why-choose-us-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.why-choose-us-section > .container {
  position: relative;
  z-index: 1;
}

.reason-card {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.reason-card:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
